.main-header, .main-footer{
	background-image: url(../img/background.png);
	height: 100px;	
}


.views{
	margin: auto;
	margin-bottom: 25px;
	width: 80%;
}

.about-container{
	display: inline-block;
	width: 100%;
    min-height: 100px;
    margin: auto;
    padding: 12px;
    clear: both;
}

.about-image{
	width: 16%;
	height: 100%;
	float: left;
}
.about-thumbnail{
	padding: 5px;
	height: 90%;
	width: 90%;
	border: dashed 1px;	
	border-radius: 50%;	
}

.about-text-header{
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 10px;
}

.about-text{
	border: solid #ABCDEF;
	border-width: 4px 1px 1px 1px;
    border-radius: 5px;
	margin-left: 20%;
	margin-top: 16px;
	padding: 15px;
	height: 100%;
	vertical-align: top;
}

/*******************Nav bar css */
.nav-div{
	padding: 7px;
	margin: 25px 10% 25px 10%;
	font-size: 25px;
	background-color: #dee8fc;
	border-radius: 10px;
	width: 80%;

}
.nav-div :last-child{
	float: right;
	margin-top: -6px;
}


.nav-link{
	padding: 5px;
	text-decoration: none;
	color: #4880f2;
}

.nav-link:hover{
	padding: 5px;
	font-weight: bold;
	border-radius: 5px;
	background-color: #4880f2;
	color: #ffffff;
}

/********************** Portfolio CSS */
.port-nav {
	font-size: 20px;
	padding: 10px;
	border-radius: 10px;
	background-color: #dee8fc;
	margin-left: 10%;
	width: 60%;
}
.portfolio-container{
   padding: 10px;
}
.item{
	background-color: #ABCDEF;
	border-radius: 5px;
	display: inline-block;
	padding: 10px;
	margin: 10px;

}
.centerBtn{
	padding-top: 5px;
	margin: auto;
	width: 50%;
	
}

/******************** Carousel CSS*/
.jk-carousel {
  height: 100%;
  overflow: hidden;
  position: relative; }
  .jk-carousel .slides-container {
    height: 100%;
    position: relative; }
    .jk-carousel .slides-container .slide .ng-scope img:first-child {
      max-width: 100%;
      max-height: 100%; }
  .jk-carousel .left-arrow-button,
  .jk-carousel .right-arrow-button {
    position: absolute;
    margin: auto !important;
    top: 0;
    bottom: 0; }
  .jk-carousel .right-arrow-button {
    right: 0; }
  .jk-carousel .md-icon-button {
    width: 48px;
    height: 48px;
    margin: 0;
    padding: 0; }
    .jk-carousel .md-icon-button md-icon {
      color: #ffffff;
      width: 48px;
      height: 48px;
      font-size: 48px;
      cursor: pointer;
      outline: none !important; }
  .jk-carousel .radio-buttons-container {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    width: 100%; }
    .jk-carousel .radio-buttons-container md-radio-button {
      margin-right: 5px;
      outline: none; }
      .jk-carousel .radio-buttons-container md-radio-button .md-off {
        border-color: #ffffff; }


/* Miscellous functions right now */

.background_img {
    background-image: url("../img/background.png");
}

.header h1 {
   color: #000;
   font-size: 30px;
   font-weight: bold;
   text-transform: lowercase;
}


.title {
   color: #000;
   font-size: 15px;
   font-weight: bold;
   margin-bottom: 5px;
}

.developer {
   color: #afafaf ;
   font-size: 14px;
}


.btn {
   background: transparent;
   color: #000;
   border: 1px solid #000;
   font-size: 14px;
   font-weight: 200;
   padding:2px 10px;
   border-radius: 2px;
}

.btn:hover {
   color: rgb(255,80,80);
   background: rgba(255,80,80,0.25);
   transition: background 500ms;
   border: 1px solid rgb(255,80,80);
}
 
/*   Pop up images */
.preview {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    height: 300px;
	width: 235px;
}

.preview:hover {opacity: 0.65;}

/* The Modal (background) */
.modal {
	border-radius: 5px;
    display: block; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 10%;
    top: 10%;
    width: 80%; 
    height: 60%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {

    margin: auto;
    display: block;

}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
