/*Nav bar css */
nav{
	display: inline;
	padding: 10px;
	font-size: 30px;
	background-color: #dee8fc;
	border-radius: 5px;
	margin-left: 10%;
	margin-right: 10%;
}

.port-nav {
	font-size: 20px;
	padding: 10px;
	background-color: #c6c6c6;
}

.nav-link{
	padding: 5px;
	text-decoration: none;
	color: #4880f2;
}

.nav-link:hover{
	padding: 5px;
	font-weight: bold;
	border-radius: 5px;
	background-color: #4880f2;
	color: #ffffff;
}

.centerBtn{
	padding-top: 5px;
	margin: auto;
	width: 50%;
	
}

/* carousel */
.jk-carousel {
  height: 100%;
  overflow: hidden;
  position: relative; }
  .jk-carousel .slides-container {
    height: 100%;
    position: relative; }
    .jk-carousel .slides-container .slide .ng-scope img:first-child {
      max-width: 100%;
      max-height: 100%; }
  .jk-carousel .left-arrow-button,
  .jk-carousel .right-arrow-button {
    position: absolute;
    margin: auto !important;
    top: 0;
    bottom: 0; }
  .jk-carousel .right-arrow-button {
    right: 0; }
  .jk-carousel .md-icon-button {
    width: 48px;
    height: 48px;
    margin: 0;
    padding: 0; }
    .jk-carousel .md-icon-button md-icon {
      color: #ffffff;
      width: 48px;
      height: 48px;
      font-size: 48px;
      cursor: pointer;
      outline: none !important; }
  .jk-carousel .radio-buttons-container {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    width: 100%; }
    .jk-carousel .radio-buttons-container md-radio-button {
      margin-right: 5px;
      outline: none; }
      .jk-carousel .radio-buttons-container md-radio-button .md-off {
        border-color: #ffffff; }

/*Portfolio css */
.portfolio-container{
	background-color: #dee8fc;
   padding: 10px;
}
.item{
	background-color: #4880f2;
	display: inline-block;
	padding: 10px;
	margin: 10px;

}
/* Miscellous functions right now */

.background_img {
    background-image: url("../img/background.png");
}

.header h1 {
   color: #000;
   font-size: 30px;
   font-weight: bold;
   text-transform: lowercase;
}


.title {
   color: #000;
   font-size: 15px;
   font-weight: bold;
   margin-bottom: 5px;
}

.developer {
   color: #afafaf ;
   font-size: 14px;
}


.btn {
   background: transparent;
   color: #000;
   border: 1px solid #000;
   font-size: 14px;
   font-weight: 200;
   padding:2px 10px;
   border-radius: 2px;
}

.btn:hover {
   color: rgb(255,80,80);
   background: rgba(255,80,80,0.25);
   transition: background 500ms;
   border: 1px solid rgb(255,80,80);
}
 
/*   Pop up images */
.preview {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    height: 300px;
	width: 235px;
}

.preview:hover {opacity: 0.65;}

/* The Modal (background) */
.modal {
    display: block; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 10%;
    top: 10%;
    width: 80%; 
    height: 60%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {

    margin: auto;
    display: block;

}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation 
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
*/
/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
