<body>

	<div>

		<div>
		
			<div>
			   <div >
			      <div>
			         <h1>Ryan Shoaf</h1>
			         <h2>Computer Engineer</h2>
			      </div>
			
			      <div >
			         <div>
			            <h3>300 Regina St. North,</h3>
			            <h3>Waterloo, ON, N2J 3C1</h3>
			            <h3>(416) 200-4498</h3>
			            <h3><a href="mailto:rshoaf@knights.ucf.edu">rshoaf@knights.ucf.edu</a></h3>
			            <h3><a href="http://website.com/">www.website.com</a></h3>
			         </div>
			      </div>
			   </div>
			</div>
		</div>
	</div>
</body>