<div class="snakeContainer" class="row">
    <h1>Snake in angularJS</h1>
    <div class="scoresContainer">
        <div class="best-container">Max score: {{game.highScore}}</div>
		
        <div class="score-container">Score: {{game.currentScore}}</div>
		
        <div class="immortal-timer" ng-show="game.timeout > 0">Immortal mode expires in <span class="iddqd">{{game.timeout}}</span> sec</div>
		<div><span>Select speed (0-100): </span><input type="text" size="10" ng-model="speed"></div>
		<div><span>Select board size (20 max): </span><input type="text" size="10" ng-model="size"></div>
		<div><span>Go through walls?: </span><input type="checkbox" ng-model="passThrough">{{passThrough}}</div>
		<button ng-click="startNewGame()"> Start Game </button>

    </div>

        <div class="row" ng-repeat="column in board">
            <div ng-repeat="row in column track by $index"
                 class="column"
                 ng-style="{'background-color':getColor($index, $parent.$index)}">
            </div>
        </div>
</div>
